<h1>All Questions</h1>

<div class="row">
    <div class="=col-2">
    </div>

    <div class="col-10">
    <% @questions.each do |question| %>
        <div>
            <h3><%= link_to question.title, question_path(question) %></h3>
            <hr />
        </div>
    <% end %>
    </div>
</div>