<h1>Thank you</h1>

<p>
    Thank You, <strong><%= @full_name %></strong>, for getting in touch 
</p>

<p>
    <strong>Your message was: </strong> <em><%= @message %></em>
</p>

<p>
 We'll email you at: <%= @email %>
</p>