@import url("https://fonts.googleapis.com/css?family=Staatliches|Thasadith");
@import "bootstrap";

body {
    font-family: Thasadith;
}
h3 > a {
    font-family: "Fira Sans";
}

.nav-links a {
    margin-left: 1em;
}